{% extends 'accueil.twig' %}

{% block bannerInner %}


    <h1 style="color: #fff;">MyBestProf - Mes offres</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 form-box">

                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Validez votre  Offre : </h3>
                    </div>

                    <div class="form-top-right">
                        <i class="fa fa-folder"></i>
                    </div>

                </div>

                <div class="form-bottom">
                    <form role="form" action="/users/mes-offres" method="post" class="offre-form">

                        <div class="form-group -3u 5u">
                            <label class=""  style="color : white;" for="form-title">{% if dataForm.Title %}{{ dataForm.Title }}{% endif %}</label>
                            <input type="hidden" name="Title" value="{% if dataForm.Title %}{{ dataForm.Title }}{% endif %}">
                        </div>

                        <div class="row uniform 100%">

                            <div class="form-group 6u">
                                <label style="color : white;" for="form-offre">Description de l'offre :</label>
                                <p>{% if dataForm.Description %}{{ dataForm.Description }}{% endif %}</p>
                                <input type="hidden" name="Description" value="{% if dataForm.Description %}{{ dataForm.Description }}{% endif %}">
                            </div>

                            <div class="form-group 6u">
                                <label style="color : white;" for="form-competence">Compétences requises :</label>
                                <p>{% if dataForm.Competence %}{{ dataForm.Competence }}{% endif %}</p>
                                <input type="hidden" name="Competence" value="{% if dataForm.Competence %}{{ dataForm.Competence }}{% endif %}">

                            </div>

                        </div>

                        <div class="row uniform 100%">
                            <div class="form-group 6u"  >
                                <label class="" style="color : white;" for="form-typeContrat">Type de contrat :</label>
                                <p>{% if dataForm.TypeContrat %}{{ dataForm.TypeContrat }}{% endif %}</p>
                                <input type="hidden" name="TypeContrat" value="{% if dataForm.TypeContrat %}{{ dataForm.TypeContrat }}{% endif %}">
                            </div>

                            <div class="form-group 6u" >
                                <label class="" style="color : white;" for="form-Nivexp">Niveau d'experience :</label>
                                <p>{% if dataForm.Experience %}{{ dataForm.Experience }}{% endif %}</p>
                                <input type="hidden" name="Experience" value="{% if dataForm.Experience %}{{ dataForm.Experience }}{% endif %}">
                            </div>

                        </div>

                        <br/>

                        {#TODO action modifier#}
                        <div class="row uniform 50%">
                            <div class="form-group -1u 5u">
                                <button type="button" class="btn" style="background: #cc521a;">Modifier</button>
                            </div>
                            <div class="form-group 5u">
                                <button type="submit" class="btn" style="background: #00CC66;">Valider l'offre</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}