{% extends 'connexion.twig' %}


 {% block classContainer %}
     <div class="container">
         <div class="row">
             <div class="col-sm-8 col-sm-offset-2 text">
                 <h1><strong>MyBestProf</strong> - Inscription - Vous êtes un établissement </h1>
                 <div class="description">
                     <p>
                         <a href="http://azmind.com"><strong></strong></a>
                     </p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-sm-6 col-sm-offset-3 form-box ml25w50">
                 <div class="form-top">
                     <div class="form-top-left">
                         <h3>Merci de vérifier vos données : </h3>
                         {#<p class="white">Pour pouvoir vous inscrire merci de bien vouloir remplir les champs suivants :</p>#}
                     </div>
                     <div class="form-top-right">
                         <i class="fa fa-user-plus"></i>
                     </div>
                 </div>

                 <div class="form-bottom">
                     <form role="form" action="/inscription-enseignant-done" method="post" class="login-form">
                         <div class="row uniform 50%">
                             <div class="-1u 5u">
                                 <label class="white">Information enseignant : </label>
                                 {% if dataForm.Firstname and dataForm.Lastname %}
                                     <p class="white">{{ dataForm.Lastname }} {{ dataForm.Firstname }}</p>
                                     <input type="hidden" name="Firstname" value="{{ dataForm.Firstname|e }}"/>
                                     <input type="hidden" name="Lastname" value="{{ dataForm.Lastname|e }}"/>
                                 {% endif %}
                                 {% if dataForm.Birth %}
                                     <p class="white">{{ dataForm.Birth }}</p>
                                     <input type="hidden" name="Birth" value="{{ dataForm.Birth|e }}"/>
                                 {% endif %}
                                 {% if dataForm.Address %}
                                     <p class="white">{{ dataForm.Address }}</p>
                                     <input type="hidden" name="Address" value="{{ dataForm.Address|e }}"/>
                                 {% endif %}
                                 {% if dataForm.Ville %}
                                     <p class="white"> {{ dataForm.Ville }}</p>
                                     <input type="hidden" name="Ville" value="{{ dataForm.Ville|e }}"/>
                                 {% endif %}
                                 {% if dataForm.Cp %}
                                     <p class="white">{{ dataForm.Cp }}</p>
                                     <input type="hidden" name="Cp" value="{{ dataForm.Cp|e }}"/>
                                 {% endif %}
                                 {% if dataForm.Phone %}
                                     <p class="white">{{ dataForm.Phone }}</p>
                                     <input type="hidden" name="Phone" value="{{ dataForm.Phone|e }}"/>
                                 {% endif %}
                             </div>

                             <div class="5u">
                                 <label class="white">Information session : </label>
                                 {% if dataForm.Email %}
                                     <p class="white"> {{ dataForm.Email }}</p>
                                     <input type="hidden" name="Email" value="{{ dataForm.Email|e }}"/>
                                 {% endif %}
                                 {% if dataForm.Password %}
                                     <p class="white">{{ dataForm.Password }}</p>
                                     <input type="hidden" name="Password" value="{{ dataForm.Password|e }}"/>
                                 {% endif %}
                             </div>

                         </div>

                            {#TODO action modifier#}
                         <div class="row uniform 50%">
                             <div class="form-group -1u 5u">
                                 <button type="button" class="btn orange">Modifier</button>
                             </div>
                             <div class="form-group 5u">
                                 <button type="submit" class="btn greenb">Valider</button>
                             </div>
                         </div>
                     </form>

                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
