{% extends 'connexion.twig' %}


 {% block classContainer %}
     <div class="container">
         <div class="row">
             <div class="col-sm-8 col-sm-offset-2 text">
                 <h1><strong>MyBestProf</strong> - Inscription - Vous êtes un enseignant </h1>
                 <div class="description">
                     <p>
                         <a href="http://azmind.com"><strong></strong></a>
                     </p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-sm-6 col-sm-offset-3 form-box ml16w85" >
                 <div class="form-top 10u">
                     <div class="form-top-left">
                         <h3>Inscription</h3>
                         <p>Pour pouvoir vous inscrire merci de bien vouloir remplir les champs suivants :</p>
                         {% if notFound %}
                             <label class="fail" >{{ notFound }}</label>
                         {% endif %}
                     </div>
                     <div class="form-top-right">
                         <i class="fa fa-user-plus"></i>
                     </div>
                 </div>
                 <div class="form-bottom 10u">
                     <form role="form" action="/inscription-enseignant-check" method="post">

                         <label class="label">Formulaire enseignant  : </label>

                         <div class="row uniform 50%">
                             <div class="form-group 6u">
                                 {% if reg_error.Lastname %}
                                     <label class="red" for="form-nom">{{ reg_error.Lastname }}</label>
                                 {% endif %}
                                 <input type="text" name="Lastname" value="{% if dataForm.Lastname %}{{ dataForm.Lastname|e }}{% endif %}" placeholder="Nom ..." class="{% if reg_error.Lastname %}input-error{% endif %}" id="signup-etablissement-nom">
                             </div>

                             <div class="form-group 6u">
                                 {% if reg_error.Firstname %}
                                     <label class="red" for="form-prenom">{{ reg_error.Firstname }}</label>
                                 {% endif %}
                                 <input type="text" name="Firstname" value="{% if dataForm.Firstname %}{{ dataForm.Firstname|e }}{% endif %}" placeholder="Prénom ..." class="{% if reg_error.Firstname %}input-error{% endif %}" id="signup-etablissement-prenom">
                             </div>
                         </div>

                         <div class="form-group">
                             {% if reg_error.Birth %}
                                 <label class="red" for="form-birth">{{ reg_error.Birth }}</label>
                             {% endif %}
                             <input type="text" name="Birth" value="{% if dataForm.Birth %}{{ dataForm.Birth|e }}{% endif %}" placeholder="Date de naissance jj/mm/aa" class="{% if reg_error.Birth %}input-error{% endif %}" id="signup-enseignant-birth">
                         </div>

                         <div class="form-group">
                             {% if reg_error.Phone %}
                                 <label class="red" for="form-tel">{{ reg_error.Phone }}</label>
                             {% endif %}
                             <input type="text" name="Phone" value="{% if dataForm.Phone %}{{ dataForm.Phone|e }}{% endif %}" placeholder="Téléphone..." class="{% if reg_error.Phone %}input-error{% endif %}" id="signup-etablissement-phone">
                         </div>

                         <div class="row uniform 50%">

                             <div class="form-group 6u">
                                 {% if reg_error.Ville %}
                                     <label class="red" for="form-city">{{ reg_error.Ville }}</label>
                                 {% endif %}
                                 <input type="text" name="Ville" value="{% if dataForm.Ville %}{{ dataForm.Ville|e }}{% endif %}" placeholder="Ville ..." class="{% if reg_error.Ville %}input-error{% endif %}" id="signup-etablissement-ville">
                             </div>

                             <div class="form-group 6u">
                                 {% if reg_error.Cp %}
                                     <label  class="red" for="form-cp">{{ reg_error.Cp }}</label>
                                 {% endif %}
                                 <input type="text" name="Cp" value="{% if dataForm.Cp %}{{ dataForm.Cp|e }}{% endif %}" placeholder="Code postale ..." class="{% if reg_error.Cp %}input-error{% endif %}" id="signup-etablissement-cp">
                             </div>
                         </div>

                         <label class="label">Formulaire de session : </label>

                         <div class="form-group 12u">
                             {% if reg_error.Email %}
                                 <label class="red" for="form-email">{{ reg_error.Email }}</label>
                             {% endif %}
                             <input type="text" name="Email" value="{% if dataForm.Email %}{{ dataForm.Email|e }}{% endif %}" placeholder="Email ..." class="{% if reg_error.Email %}input-error{% endif %}" id="signup-enseignant-email">
                         </div>

                         <div class="form-group 12u">
                             {% if reg_error.Password %}
                                 <label class="red" for="form-password">{{ reg_error.Password }}</label>
                             {% endif %}
                             <input type="password" name="Password" placeholder="Mot de passe ..." class="{% if reg_error.Password %}input-error{% endif %}" id="signup-etablissement-password">
                         </div>

                         <div class="form-group 12u">
                             {% if reg_error.PasswordConfirm %}
                                 <label class="red" for="form-password">{{ reg_error.PasswordConfirm }}</label>
                             {% endif %}
                             <input type="password" name="PasswordConfirm" placeholder="Confirmation mot de passe ..." class="{% if reg_error.PasswordConfirm %}input-error{% endif %}" id="signup-etablissement-password-confirm">
                         </div>

                         <div class="form-group 4u -4u">
                             <button type="submit" class="btn greenb" >S'inscrire !</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}