{% extends 'connexion.twig' %}


{% block menu %}
<header id="header" class="alt">
    <h1 style=" font-size: 15px;"><a href="/">MyBestProf</a> by TEAM 2</h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/profil" class="button">MonProfil</a></li>
        </ul>
    </nav>
</header>
{% endblock %}


{% block classContainer %}
<div class="container">
    <div class="row">
        <div class="col-sm-10  form-box" style="width: 100%;">
            <div class="form-top">
                <div class="form-top-left">
                    <h3 style="text-align : center; color :white;">
                        {% if dataForm.professeurFirstname and dataForm.professeurLastname %}
                        <p>{{ dataForm.professeurFirstname }} {{ dataForm.professeurLastname }}</p>
                        <input type="hidden" name="professeurFirstname" value="{{ dataForm.professeurFirstname }}"/>
                        <input type="hidden" name="professeurLastname" value="{{ dataForm.professeurLastname }}"/>
                        {% endif %}
                    </h3>
                </div>
                <div class="form-top-right">
                    <img src="../public/images/prof.jpg" alt="Photo établissement" height="200" width="200">
            s0    </div>
            </div>
            <div class="form-bottom">
                <form role="form" action="/profile-recruteur" method="post" class="login-form">
                    <div class="row uniform 50%">
                        <div class="-1u 5u">
                            <label style="color:white;">Information personnelles : </label>
                            <br>
                            <label>Nom :</label>
                            {% if dataForm %}
                            <p>{{ dataForm.etablissementName }}</p>
                            <input type="hidden" name="etablissementName" value="{{ dataForm.etablissementName }}"/>
                            {% endif %}
                            <br>
                            <label>Prénom :</label>
                            {% if dataForm %}
                            <p>{{ dataForm.etablissementFirstName }}</p>
                            <input type="hidden" name="etablissementFirstName" value="{{ dataForm.etablissementFirstName }}"/>
                            {% endif %}
                            <br>
                            <label>Adresse e-mail :</label>
                            {% if dataForm.etablissementAddress %}
                            <p>{{ dataForm.etablissementAddress }}</p>
                            <input type="hidden" name="etablissementAddress" value="{{ dataForm.etablissementAddress }}"/>
                            {% endif %}
                            <br>
                            <label>Ville :</label>
                            {% if dataForm.etablissementVille %}
                            <p>{{ dataForm.etablissementVille }}</p>
                            <input type="hidden" name="etablissementVille" value="{{ dataForm.etablissementVille }}"/>
                            {% endif %}
                            <br>
                            <label>Code Postal :</label>
                            {% if dataForm.etablissementCp %}
                            <p>{{ dataForm.etablissementCp }}</p>
                            <input type="hidden" name="etablissementCp" value="{{ dataForm.etablissementCp }}"/>
                            {% endif %}
                            <br>
                            <label>Téléphone :</label>
                            {% if dataForm.etablissementtel %}
                            <p>{{ dataForm.etablissementtel }}</p>
                            <input type="hidden" name="etablissementtel" value="{{ dataForm.etablissementtel }}"/>
                            {% endif %}
                        </div>

                        <div class="-1u 5u">
                            <label style="color:white;">Informations professionelles : </label>
                            <br>
                            <label>Matiere :</label>
                            {% if dataForm.matiere %}
                            <p>{{ dataForm.matiere }}</p>
                            <input type="hidden" name="matiere" value="{{ dataForm.matiere }}"/>
                            {% endif %}
                            <br>
                            <label>Niveau études :</label>
                            {% if dataForm.nivetude %}
                            <p>{{ dataForm.nivetude }}</p>
                            <input type="hidden" name="nivetude" value="{{ dataForm.nivetude }}"/>
                            {% endif %}
                            <br>
                            <label>Expérience pédagogique :</label>
                            {% if dataForm.enfant %}
                            <p>{{ dataForm.enfant }}</p>
                            <input type="hidden" name="enfant" value="{{ dataForm.enfant }}"/>
                            {% endif %}
                            <br>
                            <label>Formation pédagogique :</label>
                            {% if dataForm.Formation %}
                            <p>{{ dataForm.Formation }}</p>
                            <input type="hidden" name="Formation" value="{{ dataForm.Formation }}"/>
                            {% endif %}
                            <br>
                            <label>Temps de Formation</label>
                            {% if dataForm.tpsFormation %}
                            <p>{{ dataForm.tpsFormation }}</p>
                            <input type="hidden" name="tpsFormation" value="{{ dataForm.tpsFormation }}"/>
                            {% endif %}
                        </div>

                    </div>



                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
